<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>TCC Mall</h3>
    <p>providing safe and convinient digital shopping experience</p>
    <hr>
    <h3>Merchant Dashboard</h3>

    <a href="/dashboard">Dashboard</a>
    <a href="/addPro">Upload Products</a>
    <a href="/viewPro">View Products</a>
    <a href="/logout">Click to Logout</a>
    <br>

    <form class="" action="/editP/<%=result._id%>" method="post" enctype="multipart/form-data">
      <p>Product Name: <input type="text" name="productName" value="<%=result.productName%>"></p>
      <p>Product Description: <br><textarea name="description" rows="7" cols="25"><%=result.description%></textarea>
      </p>
      <p>Product Price: <input type="number" name="price" value="<%=result.price%>"></p>

      <% let products = ["Computers","Phones", "Tablets","Printers","Accessories"] %>
      <p>Product Category:
        <select class="" name="category">
      <% products.forEach((prods) => { %>
        <option value="<%=prods%>" <% if(result.category === prods) { %> selected="selected" <% } %>><%= prods %></option>
      <% }) %>

      </select></p>

        <!-- <p>Upload Product Image: <input type="file" name="image"></p> -->

      <input type="submit" name="" value="Submit">

    </form>

  </body>
</html>
